body {
    margin: 0;
}


#mainContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    background-color: blue;
    justify-content: space-around;
}

#bottomMenu {
    height: 10vh;
}

#drawContainer {
    height: 90vh;
    display:flex;
    flex-flow: column;
    
}

.l2Cont {
    border: 5px solid red;
}

.pixel {
     border: 1px solid greenyellow;
    flex-grow: 1;
    display: flex;
}